body {
    background: url(./shara\ desert.jpg);
    background-size: cover;
}

.logo {
    background: url(./logo.png);
    background-size: contain;
    height: 50px;
    width: 55px;
    margin-left: 50px;
    margin-top: 25px;
    display: inline-block;
}

.home {

    left: 780px;
    top: 45px;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    position: absolute;
}

.home:hover {
    box-shadow: 0px 0px 30px rgb(43, 1, 1);
    padding: 15px;
    margin-top: -20px;
    margin-left: -20px;
    border-radius: 10px;
    font-weight: bold;
    background: linear-gradient(to right, rgba(244, 115, 10, 0.458), rgb(54, 1, 1));
}

.region {

    top: 45px;
    left: 870px;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    position: absolute;
}

.region:hover {
    box-shadow: 0px 0px 30px rgb(43, 1, 1);
    padding: 15px;
    margin-top: -20px;
    margin-left: -20px;
    border-radius: 10px;
    font-weight: bold;
    background: linear-gradient(to right, rgba(244, 115, 10, 0.458), rgb(54, 1, 1));
}

.about {
    top: 45px;
    left: 970px;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    position: absolute;
}

.about:hover {
    box-shadow: 0px 0px 30px rgb(43, 1, 1);
    padding: 15px;
    margin-top: -20px;
    margin-left: -20px;
    border-radius: 10px;
    font-weight: bold;
    background: linear-gradient(to right, rgba(244, 115, 10, 0.458), rgb(54, 1, 1));
}

.hamburg {
    background: url(./menuiconimg.png);
    background-size: cover;
    height: 25px;
    width: 25px;
    display: inline-block;
    left: 1130px;
    top: 39px;
    position: absolute;
}

.hamburg:hover {
    background-image: url(./menuiconvid.gif);
}


.info {
    margin-top: 100px;
    margin-left: 50px;
    display: inline-block;
    width: 550px;
}

.info p {
    color: white;

}

.sahara {
    font-size: 80px;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    transition-duration: 1s;
}

.sahara:hover {
    letter-spacing: 15px;
    text-shadow: 0px 0px 30px rgb(65, 23, 2);

}

.explore {
    background: white;
    border-radius: 20px;
    text-transform: uppercase;
    height: 40px;
    width: 175px;
    text-align: center;
    align-content: center;
    font-weight: bold;
    margin-top: 40px;
    transition-duration: 0.5s;
}

.explore:hover {
    font-size: larger;
    color: rgb(66, 3, 69);
}

.images {
    display: flex;
    position: absolute;
    left: 720px;
    top: 100px;
}

.arrangement {
    display: grid;
    grid-template-columns: 200px 200px;
    grid-template-rows: 250px 250px;
    row-gap: 25px;
    column-gap: 25px;
}

.image1 {
    display: block;
    background: url(./pic-1.png);
    background-size: cover;
    height: 230px;
    width: 200px;
    border-radius: 20px;
    padding-left: 10px;
    font-size: small;
    color: white;
    padding-top: 25px;
    padding-left: 5px;

}

.image1:hover {
    margin-top: -10px;
    margin-left: -10px;
    box-shadow: 0px 0px 30px rgb(43, 1, 1);
}

.image2 {
    display: block;
    background: url(./pic-2.png);
    background-size: cover;
    height: 230px;
    width: 200px;
    border-radius: 20px;
    padding-left: 10px;
    font-size: small;
    color: white;
    padding-top: 25px;
    padding-left: 5px;
}

.image2:hover {
    margin-top: -10px;
    margin-left: -10px;
    box-shadow: 0px 0px 30px rgb(43, 1, 1);
}

.image3 {
    display: block;
    background: url(./pic-3.png);
    background-size: cover;
    height: 230px;
    width: 200px;
    border-radius: 20px;
    font-size: small;
    color: white;
    padding-top: 25px;
    padding-left: 5px;
}

.image3:hover {
    margin-top: -10px;
    margin-left: -10px;
    box-shadow: 0px 0px 30px rgb(43, 1, 1);
}

.image4 {
    display: block;
    background: url(./pic-4.png);
    background-size: cover;
    height: 230px;
    width: 200px;
    border-radius: 20px;
    font-size: small;
    color: white;
    padding-top: 25px;
    padding-left: 5px;
}

.image4:hover {
    margin-top: -10px;
    margin-left: -10px;
    box-shadow: 0px 0px 30px rgb(43, 1, 1);
}